@model Study_Crud.Models.Entity.Subject
@{
    ViewData["Title"] = "Create";
}

<div class="container col-md-8">
    <div class="row mb-4"  style="padding-bottom:12px">
        <h3>New Subject</h3>
    </div>
    <form method="post" action="AddSubject">
         @Html.HiddenFor(m=>m.Id)
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4" >
            <div class="col">
                <div class="form-outline">
                     <label>Name</label>
                    <input type="text" name="Name" value="@Model.Name" maxlength="15" class="form-control" placeholder="Name" required />
                </div>
                <div class="form-outline">
                    <label>Class</label>
                    @Html.DropDownList("ClassId", new SelectList(ViewBag.ClassList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="row mb-4" style="padding:12px">
                @if (Model.Id == 0)
                {
                    <button type="submit" class="btn btn-primary btn-block mb-4">Add Subject</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-block mb-4">Update Subject</button>
                }
            </div>
        </div>
    </form>
</div>
